@using MediotecaRai.Models
@model MediaItem

<h1>Detalles</h1>

<div class="formulario-filtro-anyadir">
    <h3 class="detalle-titulo">@Model.Titulo</h3>

    <div class="detalle-linea">
        <strong>Tipo:</strong> <span>@Model.Tipo</span>
    </div>

    <div class="detalle-linea">
        <strong>Autor:</strong> <span>@Model.Autor</span>
    </div>

    <div class="detalle-linea">
        <strong>Año:</strong> <span>@Model.Anio</span>
    </div>

    <div class="detalle-descripcion">
        <strong>Descripción</strong>
        <p>@Model.Descripcion</p>
    </div>

    <a class="boton boton-secundario" href="/Media">Volver</a>
</div>
