@using MediotecaRai.Models
@model MediaItem


<h1>Detalles</h1>

<div>
    <h3><strong>Título:</strong> @Model.Titulo</h3>
    <p><strong>Tipo:</strong> @Model.Tipo</p>
    <p><strong>Autor:</strong> @Model.Autor</p>
    <p><strong>Año:</strong> @Model.Anio</p>
    <p><strong>Descripción:</strong> @Model.Descripcion</p>
    
</div>


<a href="/Media">Volver</a>